* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}



.header_gore {
    height: 25px;
    background-color: #242fc4;
    display: flex;
    align-items: center;
}

.header_dole {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dodaj_razmak_span {
    margin-left: 19%;
    margin-right: 2em;
}

.header_gore span {
    color: white;
}

.header_dole_desno {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: flex-end;
    font-size: 1.5em;
    justify-content: space-around;
    padding-bottom: 0.5em;
}

.header_dole_desno a {
    color: black;

}

.header_dole_levo img {
    height: 150px;       
    width: auto;        
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 5em;
    background-image: url("../image/pngtree-construction-workers-signing-off-high-risk-working-at-heights-permit-image_15747840.jpg");
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero p {
    width: 25%;
    text-align: center;
    margin-top:  1em;
    font-size: large;
    font-weight: bolder;
}

.dve_kolone {
    display: flex;
    justify-content: center;
    gap: 2em;
    text-align: center;
    padding: 2em 0em;
}

.dve_kolone .kolona {
    width:25%;
}

.dve_kolone .kolona h1 {
    color: #0973ba;
}

.centar {
    background-color:#2523b9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

.prvi_red {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 3em;
}

.prvi_red .kolona {
    width: 25%;
}

.prvi_red h1 {
    color:#0973ba;
}

.drugi_red{
   display: flex;
   justify-content: center;
   gap: 2em;
   margin-top: 5em;
   padding-bottom: 5em;
}

.proizvod {
    width: 20%;
    text-align: center;
}

.drugi_red h1 {
    color: #0973ba;
}



.footer_gore {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5em;
}

.footer_gore .kolona {
    width: 40%;
    text-align: center;
}

.footer_dole, .footer_gore {
    background-color: #bbd9ea;
}
.footer_dole {
    height: 400px;
}

.footer_gore .kolona h1 {
    color:#0973ba;
}

.copyright {
    margin-top: 2em;
    background-color:  rgb(43, 43, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    font-weight: 900;
}

.header_dole_levo .img {

    height: 100%;
    width: 100%;

}


.footer {
    background-color: #10127a;
    color: #ccc;
    font-family: "Poppins", sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 80px;
    border-bottom: 1px solid #333;
}

.footer-logo img {
    width: 160px;
    margin-bottom: 15px;
}

.footer-logo p {
    color: #aaa;
    font-size: 14px;
    max-width: 250px;
}

.footer-links h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-links a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-links a:hover {
    color: #d40000;
}

.footer-social h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-social .social-icons {
    display: flex;
    gap: 10px;
}

.footer-social img {
    width: 28px;
    height: 28px;
}




.footer-bottom {
    background-color: #d40000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    border-top: 1px solid #b00000;
}

.proizvod img {
    width: 100%;
}

@media (max-width: 768px) {

    /* GENERAL */
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }

    /* HEADER */
    .header_gore {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: auto;
        padding: 5px 0;
    }

    .dodaj_razmak_span {
        margin: 0;
    }

    .header_dole {
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px 0;
    }

    .header_dole_levo img {
        height: 100px;
    }

    .header_dole_desno {
        width: 100%;
        justify-content: center;
        font-size: 1.2em;
        padding-bottom: 0;
    }

    /* HERO */
    .hero {
        padding: 2em 1em;
        text-align: center;
    }

    .hero h1 {
        font-size: 1.8em;
    }

    .hero p {
        width: 100%;
        font-size: 1em;
    }

    /* DVE KOLONE */
    .dve_kolone {
        flex-direction: column;
        padding: 1em;
    }

    .dve_kolone .kolona {
        width: 100%;
    }

    /* CENTAR */
    .centar {
        font-size: 1.5em;
        padding: 20px;
        text-align: center;
    }

    /* PRVI RED */
    .prvi_red .kolona {
        width: 100%;
        padding: 0 1em;
    }

    /* DRUGI RED (USLUGE) */
    .drugi_red {
        flex-direction: column;
        gap: 2em;
        padding: 0 1em 3em 1em;
    }

    .proizvod {
        width: 100%;
    }

    .proizvod img {
        border-radius: 10px;
    }

    /* FOOTER */
    .footer-top {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
        text-align: center;
    }

    .footer-social .social-icons {
        justify-content: center;
    }

}